.car-footer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 15px;
    padding: 20px;
    background-color:#7F8379;
    border-top: 2px solid #7F8379;
}

/* .developers{
    
} */

.contacts-list{
    margin-left: auto;
    list-style: none;
    display: flex;
    gap: 20px;
}

.footer-links{
    color: #000;
}